*{
    margin: 0;
    padding: 0;
}
#wrapper{
        background-image : url('../../static/icons/background.jpg');
        background-repeat:repeat-y;
        background-size: contain;
}
.navbar{
    background-color: rgb(0, 0, 0, 0.7);
    height: 120px;
    opacity: 0.7;
    border-radius: 0px;
}
.navbar-nav li{
    padding:0px!important;
}
.navbar-nav li a{
    font-size: 12px;
    font-weight: bold;
    color: white!important;
}
.navbar-nav li a:hover{
    background-color: black!important;
    color: #E50914!important;
    border-bottom: solid 4px #E50914!important;
}
.dropdown-menu{
    background-color: black!important;
    font-weight: bold;
    opacity: 0.95!important;
}

.toggle_menu{
    position: absolute;
    padding: 15px 15px 20px 15px;
    margin-top: 70px;
    color : white;
    cursor: pointer;
    background-color: #E50914;
    z-index: 1000000;
    font-size: 2em;
    opacity: 0.7;
}
.toggle_menu:hover{
    background-color: black;;
}
.sidebar_menu{
    position: absolute;
    width: 250px;
    margin-top: 1px;
    margin-left: 0px;
    overflow: hidden;
    height: 100vh;
    max-height: 100vh;
    background-color: rgba(17, 15, 17, 0.9);
    opacity: 0.9;
    transition: all 0.4s ease-in-out;
}
.fa-times{
    right: 10px;
    top: 10px;
    opacity: 0.7;
    cursor: pointer;
    position: absolute;
    color: white;
    transition: all 0.4s ease-in-out;
}
.fa-times:hover{
    opacity: 1;
    color: #E50914;
}
.boxed-item{
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    padding: 2px 20px;
    display: inline-block;
    border: solid 2px #E50914;
    box-sizing: border-box;
    font-size: 20px;
    color: #E50914;
    text-align: center;
    margin-left: 55px
    margin-top: 70px;
}
.logo_bold{
    font-weight: 800;
}
.navigation_selection{
    margin: 20px 0;
    display: block;
    width: 200px;
    margin-left: 25px;
    list-style-type: none;
}
.navigation_item{
    font-weight: 200;
    font-family: 'Open Sans', sans-serif;
    font-style: bold;
    padding: 12px 0;
    box-sizing: border-box;
    font-size: 14px;
    color: white;
    border-bottom: solid 2px #D8D8D8;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.navigation_item:hover{
    color: #E50914;
    border-bottom: 4px solid #E50914;
}
.hide_menu{
    margin-left: -250px;
}
.user{
    padding-left: 80px;
    font-size: 20px;
    font-style: italic;
    color: #D8D8D8;
}
.jumbotron{
    margin-left: 250px!important;
    margin-top: 0px!important;
    padding-top: 2px!important;
    padding-left: 2px;
    background-color: #191919!important;
    opacity: 0.8;
}
#searchText{
    -webkit-border-radius:10px;
	border: 2px solid black;
	color: black;
	padding:6px 6px 6px 45px;
	font-size: 25px;
	background-image:url('../icons/search.png');
	background-repeat: no-repeat;
	background-position: left;
	}
.text-center{
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
}
.list-group{
    color: #E50914!important;
    opacity: 0.95!important;
    font-weight: bold!important;
}
.para{
    color: white;
    background-color: #E50914;
}
#main{
    padding: 25px;
    overflow: hidden;
}
.imdb{
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}
.imdb_logo{
    width: 333px!important;
    height: 100px!important;
}
.image{
    opacity: 0.82!important;
}
.image:hover{
    opacity: 1!important;
}
.thumbnail{
    width: 500px!important;
    text-align: center!important;
    height: auto!important;
}
.logo{
    width: 200px!important;
    height: 120px!important;
    opacity: 0.78!important;
}
.logo:hover{
    opacity: 1!important;
}
.watch{
    padding-left: 5px!important;
    padding-bottom: 5px!important;
    background-color: #E50914!important;
    color: white!important;
    font-size: 30px!important;
    font-weight: bold!important;
    font-family: 'Anton', sans-serif!important;
}
.links{
    display:inline-flex!important;
}
.content{
    display: none;
}
.preload{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
}
.head{
    font-size: 30px!important;
    font-weight: bold!important;
}
.dd{
    background-color: #E50914!important;
    color: white!important;
    font-size: 30px!important;
    font-weight: bold!important;
}
.mrqe{
    background-color: #E50914!important;
    color: white!important;
    font-size: 20px!important;
    font-weight: bold!important;
}
.abt{
    background-color: white!important;
    color: black!important;
    font-size: 15px!important;
}
.mrqes{
    display: inline-flex!important;
}
figcaption{
    display: block!important;
    background-color: #E50914!important;
    color: white!important;
}
.alt{
    background-color: #E50914!important;
    color: white!important;
}
.zoom{
    position: absolute!important;
    top:50px!important;
    right: 80%!important;
    width: 50px!important;
    opacity: 0!important;
    animation: zoom 2s ease forwards!important;
}

@keyframes zoom {
    0%{opacity: 0}
    50%{opacity: 1}
    100%{opacity: 0; right: 10%}
}
.upcoming{
    font-family: sans-serif!important;
    font-weight: bolder!important;
}
.toptog{
    border-bottom: 0px solid #E50914!important;
    border-color:#E50914!important;
}
.act{
    color:#E50914!important;
    border: 2px solid #E50914!important;
    border-radius: 10px!important;
    font-weight: bold!important;
    font-size: 15px!important;
}
.act:hover,.act:active, .act:focus{
    color: white!important;
    background-color: #E50914!important;
    border-radius: 15px!important;
}
.visit{
    color: white!important;
}
.rater{
    width: 48px!important;
    height: 48px!important;
}
.velocity{
    background-color: #000000;
    color: #E50914;
    border-radius: 10px;
    border: 3px solid #E50914;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.velocity-score{
    border: 4px solid #CCFF00;
    color: #CCFF00;
    border-radius: 12px;
    z-index: 100;
    padding: 10px;
    text-align: center;
    font-weight:bold;
    font-size: 40px;
    font-family: sans-serif;
    padding-bottom: 10px;
    font-family: 'Audiowide', sans-serif;
}
.score{
    padding: 5px;
    border: 2px solid #CCFF00;
    border-radius: 50px;
    background-color: black;
}
.trailer_frame{
    height: 400px!important;
    width: 400px!important;
}
.custom{
    background-color: black!important;
    color: #E50914!important;
}
.book{
    height: 50px!important;
}
.footer{
    background-image: url('../static/icons/footer2.jpg');
    background-size:cover;
    position: absolute;
    -webkit-box-shadow: rgb(110,110,110) 10px 10px 10px;
}
#head_footer{
    color: #E50914;
    font-weight: bold;
}
#para_footer{
    color: white;
}
.list_head_footer{
    color: #E50914;
    font-weight: bold;
    padding: 20px 20px 20px 20px;
    text-decoration: underline;
    font-family: 'Acme', sans-serif;
    font-size: 30px;
}
#list_foot{
    color: #E50914;
}
.item{
    color: white;
    font-weight: bold;
    background-color: inherit;
}
.item:hover{
    color: #E50914;
    text-decoration: underline;
    cursor: pointer;
    background-color: inherit;
}
.social-share{
    display: flex;
    position: absolute;
    top: 100%;
    left: -20%;
}
.social-share li{
    list-style:none;
}
.social-share li a{
    width: 80px;
    height: 80px;
    background: #fff;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}
.social-share li a .fa{
    position: relative;
    color: #262626;
    transition: .5s;
    z-index: 2;
}
.social-share li a:hover .fa{
    color: #fff;
    transform: rotateY(360deg);
}
.social-share li a:before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100px;
    height: 100px;
    background: #f00;
    transition: .5s;
    z-index: 2;
}
.social-share li a:hover:before{
    top: 0;
}
.social-share li:nth-child(1) a:before{
    background: #3b5999;
}
.social-share li:nth-child(2) a:before{
    background: #55acee;
}
.social-share li:nth-child(3) a:before{
    background: #dd4b39;
}
.social-share li:nth-child(4) a:before{
    background: #0077B5;
}
.social-share li:nth-child(5) a:before{
    background: #e4405f;
}
.badge{
    background-color: #FFFC00;
    color: black;
}
.support{
    background-color: #E50914!important;
    color: white!important;
}
.subscribe{
    background-color: #E50914!important;
    color: white!important;
}
.subscribe:hover{
    background-color: black!important;
}
.tag{
    color: white;
    font-weight: bold;
}
.copyright{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    color: #a6a6a6;
    font-weight: bold;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 50px;
}
.list-group-item{
    font-family: 'Oswald', sans-serif !important;
    font-weight: bold !important;
    font-size: 18px !important;
    color: black!important;
}
.list-imdb{
    border-left: 7px solid #B5A734!important;
    border-right: 7px solid #B5A734!important;
}
.list-rt1{
    border-left: 7px solid #FA320A!important;
    border-right: 7px solid #FA320A!important;
}
.list-rt2{
    border-left: 7px solid #1FCD66!important;
    border-right: 7px solid #1FCD66!important;
}
.list-rt3{
    border-left: 7px solid #FFD600!important;
    border-right: 7px solid #FFD600!important;
}
.list-mrqe{
    border-left: 7px solid #CD3F3E!important;
    border-right: 7px solid #CD3F3E!important;
}
.list-meta{
    border-left: 7px solid #FFCF42!important;
    border-right: 7px solid #FFCF42!important;
}
.list-roger{
    border-left: 7px solid #1F7A99!important;
    border-right: 7px solid #1F7A99!important;
}
.list-fand{
    border-left: 7px solid #F26526!important;
    border-right: 7px solid #F26526!important;
}

.superpower{
    color: white;
    font-size: 12px;
    font-weight: bold;
}
.rights{
    display: flex;
    list-style-type: none;
    font-size: 14px;
    text-align: center;
    padding-left: 31%!important;
}
.rights-links{
    color: white;
}
.rights-links:hover{
    color: #E50914;
    text-shadow: 0px 20px 20px white;
    cursor: pointer;
}
.spaces{
    color: white;
}
hr { border-color: #cccccc; margin: 0; }
.no-margins { margin: 0px; }
.with-margins { margin: 10px; }
.col-centered { float: none; margin: 0 auto; }
.black-box{
    background-color: black!important;
    opacity: 1;
    background-color: inherit;
}
.white-box{
    background-color: white!important;
    opacity: 1;
}
.progress{
    width: 334px!important;
    text-align: right!important;
    border: 1px solid black!important;
    border-radius: 10px!important;
}
.progress-bar{
    border-radius: 10px!important;
}
.progress-bar-top-tomatometer{
    background-color: #03922C!important;
}
.progress-bar-all-tomatometer{
    background-color: #FA320A!important;
}
.progress-bar-audience{
    background-color: #FFD001!important;
}
.progress-bar-mrqe{
    background-color: #C62626!important;
}
.progress-bar-metacritic{
    background-color: #3E7AB6!important;
}
