<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NetFlixent</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style2.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/jquery.floating-social-share.min.css">
    <link href="https://fonts.googleapis.com/css?family=Audiowide|Faster+One|Frijole|Stalinist+One" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="../static/js/jquery.floating-social-share.min.js"></script>
    <script>
    $(document).ready(function () {
        $(".fa-times").click(function(){
            $(".sidebar_menu").addClass("hide_menu")
            $(".toggle_menu").addClass("opacity_one")
        });

    $(".toggle_menu").click(function(){
        $(".sidebar_menu").removeClass("hide_menu")
        $(".toggle_menu").removeClass("opacity_one")
    });

    $('.preload').fadeOut(1000,function(){
        $('.content').fadeIn(1000);
        });

    $('.favo').on("click",function(){
        $(this).closest("div")
        .find("img.poster")
        .clone()
        .addClass("zoom")
        .appendTo("body")
        setTimeout(function(){
            $(".zoom").remove();
        }, 2000);
        $('.favo').text("Added To Favorites");
    });
    $(".act").click(function () {
        $(".act").removeClass("active");
        // $(".tab").addClass("active"); // instead of this do the below
        $(this).addClass("active");
    });
    $(".share").floatingSocialShare({
        place: "top-right",
        counter: true,
        buttons: ['facebook', 'twitter','google-plus', 'linkedin','pinterest','reddit'],
        text: "Share with ",
        title: document.title,
        url: window.location.href,
        popup_width: 500,
        popup_height: 400
    });
});
    </script>
    <script async src="https://static.addtoany.com/menu/page.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body id ="wrapper">
    <nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="../static/icons/logo3.png" alt="Brand"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="{{ url_for('index')}}"> Home </a></li>
          <li><a href="{{ url_for('recomendations')}}"> Recomendations</a></li>
          <li><a href="{{ url_for('in_theatres')}}"> In Theatres </a></li>
          <li><a href="{{ url_for('upcoming_movies')}}"> Upcoming  </a></li>
          <li><a href="{{ url_for('recent_dvd')}}"> Latest DVD </a></li>
          <li><a href="#">Showtimes</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Us <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">About</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">How it works</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Help</a></li>
            </ul>
          </li>
      </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Favorites <br> <img src="../static/icons/favo.png" alt="fav"></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Dashboard</a></li>
              <li><a href="#">Favorites</a></li>
              <li><a href="#">Recent Searches</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Sign Out</a></li>
            </ul>
          </li>
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="share"></div>
    <div class="preload">
    <img src="../static/icons/Ripple.gif" alt="loader">
</div>
<div id="main" class="content">
  <div class="container">
      <div class="row">
    <div class="jumbotron">

    </div>
    </div>
  </div>
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4" >
                <h3 id="head_footer"> Find. Select. Compare Recommend. Watch  Movies Becomes Easy Now with NETFLIXENT!</h3><br/>
                <p id="para_footer">Netflixent's free webapp helps you find movie ratings from top websites and
                    sentiment analysis live-graphing from Social Media. All Free of Cost. Cheers & Enjoy!
                </p><br/>
                <p class="tag">SIT BACK, RELAX AND ENJOY A NET FLICK !!!</p>
                <div style="display:inline-block;">
                    <h4 style="background-color:black;font-weight:bold;color:#E50914;padding:10px 10px 10px 10px;" class="text-center">Coming Everywhere Soon! <span class="badge">new</span></a></h4>
                    <img src="../static/icons/google-play.png" width="150px"/>
                    <img src="../static/icons/iosapp.png" width="150px"/>
                </div>

            </div>
            <div class="col-lg-4">
                    <h3 class="text-center list_head_footer">NAVIGATE NETFLIXENT</h3>
                    <ul type="none">
                        <li onclick=location.href="#" class="item">HOME</a></li>
                        <li onclick=location.href="#" class="item">ABOUT US</a></li>
                        <li onclick=location.href="#" class="item">WHAT IS VELOCITY?</li>
                        <li onclick=location.href="#" class="item">HOW SENTIMENT ANALYSIS IS DONE?</a></li>
                        <li onclick=location.href="#" class="item">QUESTIONS? CONTACT US</a></li>
                        <li onclick=location.href="#" class="item">BLOG</a></li>
                        <li onclick=location.href="#" class="item">HELP</a></li>
                        <li onclick=location.href="#" class="item">TERMS OF SERVICES</a></li>
                        <li onclick=location.href="#" class="item">PRIVACY POLICY</a></li>
                    </ul>
                    <br>
                    <span class="label label-danger text-center support">Support this Website</span>
                    <div class="input-group">
                         <input type="text" class="form-control" placeholder="Enter Email here">
                         <span class="input-group-btn">
                       <button class="btn btn-danger subscribe" type="button">Subscribe</button>
                     </span>
                   </div>
            </div>
            <div class="col-lg-4">
                <ul class="social-share">
                    <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.linkedin.com/feed/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.instagram.com/ target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
                <br /> <br />
                <h3 class="text-center" list_head_footer">FOLLOW US</h3>
        </div>
    </div>
</footer>
<br>
<hr>
<div class="copyright">
    <p class="text-center">
        Copyright &copy; 2017 Netflixent Co. Ltd. | All Rights Reserved. <br />
    </p>
        <ul class="rights">
            <li onclick=location.href="#" class="rights-links">About Netflixent</li><span class="spaces"> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
            <li onclick=location.href="#" class="rights-links">Contact </li><span class="spaces">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
            <li onclick=location.href="#" class="rights-links">Advertise </li><span class="spaces">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
            <li onclick=location.href="#" class="rights-links">Privacy Policy </li><span class="spaces">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
            <li onclick=location.href="{{ url_for('conditions')}}" class="rights-links">Terms Of Use </li>
        </ul>
    <p class="superpower pull-right">
        <a href="https://xkcd.com/353/" target="_blank">Programming is a Superpower.&nbsp; <br /> So Don't just learn to CODE, Learn to CREATE. &nbsp; <br /> -&nbsp;Rajat Thukral (Tech Head At Netflixent)&nbsp; &nbsp;
        </a>
    </p>
</div>
</body>
</html>
