<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
</head>
<body>
    <h3> hello bbsbsgssgss </h3>
    <div class="ui fluid selection dropdown">
  <i class="dropdown icon"></i>
  <span class="default text">Select Type</span>
  <div class="menu">
    <div class="item">
      <i class="attention right floated icon"></i>
      Important
    </div>
    <div class="item">
      <i class="comment right floated icon"></i>
      Announcement
    </div>
    <div class="item">
      <i class="conversation right floated icon"></i>
      Discussion
    </div>
  </div>
</div>
</body>
</html>
